/* globals */
body {
    background: var(--background);
    margin: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --background: #e6eff6;
    --Cyan:hsl(179, 62%, 43%);
    --Cyantwo: #4abebd;
    --BrightYellow:hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}

.container {
    background: white;
    width:45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    border-radius: .5em;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
}

/* Header */

.head{
    grid-column: 1 / 4;
    margin: 2em 5em 2em 2em;
}

.title {
    color: var(--Cyan);
    font-size: 1.53em;
    padding-bottom: .5em;
}

.secondtitle {
    color: var(--BrightYellow);
    font-size: 1.15em;
}

.content {
    color: var(--GrayishBlue);
    font-size: 1em;
    line-height: 1.7em;
}

.wrapper {
    margin: 2em;
}
.titleblock {
    color: var(--LightGray);
    font-weight: bold;
    font-size: 1.1em;
}
/* One block */

.Subscription {
    background: var(--Cyan);
    border-bottom-left-radius: .5em;
}

.realprice {
    display: flex;
    align-items: center;
    padding-top: .7em;
    padding-bottom: .5em;
}

.realprice p {
    padding: 0;
    margin: 0;
}

.number {
    color: var(--LightGray);
    font-weight: bold;
    font-size: 2em;
}

.time {
    margin-left: .5em;
    color: var(--LightGray);
    opacity: .5;
}
.duration {
    color: var(--LightGray);
    opacity: .7;
    padding-bottom: 1.8em;
}

.textbutton {
    color: var(--LightGray);
    font-weight: bold;
}

.button {
    background: var(--BrightYellow);
    border-radius: .3em;
    padding: .8em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}

/* Second block */

.explanation {
    background: var(--Cyantwo);
    border-bottom-right-radius: .5em;
}

.secondcontent {
    color: var(--LightGray);
    font-size: 0.9em;
    opacity: .7;
    line-height: 1.4em;
}

@media screen and (max-width: 375px) {

    body {
        margin: 4em 2em 4em 2em;
    }

    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .head {
        grid-row: 1;
        margin: 1.4em;
    }
    
    .title {
        font-size: 1.21em;
    }

    .secondtitle {
        font-size: 0.9em;
    }

    .content {
        font-size: 0.8em;
    }

    .wrapper {
        margin: 1.4em;
    }

    .titleblock {
        padding-bottom: 0;
    }
    .Subscription {
        grid-row: 2;
        border-bottom-left-radius: 0;
    }

    .explanation{
        grid-row: 3; 
        border-bottom-left-radius: .5em;
    }
    .secondcontent {
        font-size: 0.8em;
    }
}